.whishlist.products-listing {
  padding-left: 40px;
  padding-right: 40px;
  background: #09121c;
  border-bottom: 1px solid #7af6fb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 92vh;
}
.product-item {
  background: rgba(36, 63, 88, 0.35);
  height: 22rem;
  margin: 10px 10px 51px 10px;
  width: 359px;
}

.product-item .product-img {
  height: 218px;
  width: 359px;
  border: 4px solid #20595b;
}
.product-item img {
  height: 210px;
  width: 351px;
  /* aspect-ratio: 121/69; */
}
.product-item .info {
  font-size: 14px;
  font-weight: normal;
  padding: 0 13px;
  text-transform: uppercase;
}
.product-item .info .title {
  text-align: center;
  color: #cae9ff;
  font-size: 1rem;
  margin-top: 20px;
  text-transform: uppercase;
}
.product-item .info * {
  font-family: "Electrolize";
  position: relative;
}
.product-item .info .title span {
  color: #47900c;
  text-transform: none;
}
.whishlist .buttons {
  display: flex;
  flex-direction: row;
}
.whishlist .smallbtn.a,
.whishlist .smallbtn.b {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
}
.whishlist .smallbtn-top,
.whishlist .smallbtn-bottom {
  width: auto;
}
.whishlist .smallbtn-bottom {
  position: absolute;
  top: 8px;
  right: -5px;
}
/* .whishlist .smallbtn.a:hover + .whishlist .smallbtn-top, */
.whishlist .smallbtn.b:hover > .smallbtn-top {
  transform: translate(10px, 0px);
  transition-delay: 0.2s;
}
.whishlist .smallbtn.b:hover > .smallbtn-bottom {
  transform: translate(5px, -8px);
  /* transition-delay: 0.2s; */
}
.trans-02s {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-perspective: 1000;
  perspective: 1000;
}
